.container {
    background-color:#081528;
    color: white;
    padding: 20px;
    text-align: center;
    height:auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .navlink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .navlink p {
    margin: 0;
    font-size: 16px;
    font-family: Robbo,sans-serif;
    cursor: pointer;
    color:white;
    text-decoration: none;
  }
  
  .navlink p:first-child::before {
    content: '';
  }
  
  .navlink p:last-child::after {
    content: '';
  }
  
  .card p {
    margin: 1rem 0;
    font-size: medium;
  }
  
  .add{
    color: #6f7f92;
  }

  .socialMedia{
    font-size: large;
    padding:.5rem;
    cursor:pointer;
    border-radius: 5px;
    color:white;
  }

  .socialMedia:hover{
    background-color: #1c2b68;
  }