.container {
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  }

  .backImg{
    width:100%;
    height:auto;
  }
  
  .box {
    flex: 1;
    border: 0px solid blue;
    padding: 20px;
    text-align: left;
  }
  
  .box h1 {
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
  }
  
  button {
    background-color: #0078d4;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea2;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block; /* Center the image horizontally */
    margin: 0 auto;
  }

  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      gap:30px;
    }
  }
  